body .box-container {
  max-width: 50%;

  display: block;
  margin: 120px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 35px;
}

header h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

section form {
  margin-bottom: 10px;
}

section .search-input {
  width: 85%;
  padding-left: 10px;
}

section .add:hover {
  cursor: pointer;
}
