body .box-container {
  width: 30%;
  display: block;
  margin: 120px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 35px;
  background: linear-gradient(#cfcdc2, #c1c2ad);
}

header h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

section form {
  margin-bottom: 10px;
}

section .search-input {
  width: 86%;
  padding-left: 10px;
  font-size: 20px;
}

section .add:hover {
  cursor: pointer;
  transform: scale(1.15);
}

main ul {
  margin: 40px 20px;
  list-style-type: disc;
}

main ul .display-items {
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
  margin-bottom: 10px;
}

main ul .delete-button {
  background-color: #65a20c;
  color: white;
  border-radius: 100%;
  padding: 0px 15px;
}
